
/* blog_header, content, nav-study, nav, ul, li 순서*/


#page-wrapper{
	max-width: calc(100%);
    width: 64em;
    margin: 0 auto;
}

/* Header */

	#blog_header {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-moz-align-items: center;
		-webkit-align-items: center;
		-ms-align-items: center;
		align-items: center;
		-moz-transition: -moz-transform 0.325s ease-in-out, -moz-filter 0.325s ease-in-out, opacity 0.325s ease-in-out;
		-webkit-transition: -webkit-transform 0.325s ease-in-out, -webkit-filter 0.325s ease-in-out, opacity 0.325s ease-in-out;
		-ms-transition: -ms-transform 0.325s ease-in-out, -ms-filter 0.325s ease-in-out, opacity 0.325s ease-in-out;
		transition: transform 0.325s ease-in-out, filter 0.325s ease-in-out, opacity 0.325s ease-in-out;
		background-image: -moz-radial-gradient(rgba(0, 0, 0, 0.25) 25%, transparent 55%);
		background-image: -webkit-radial-gradient(rgba(0, 0, 0, 0.25) 25%, transparent 55%);
		background-image: -ms-radial-gradient(rgba(0, 0, 0, 0.25) 25%, transparent 55%);
		background-image: radial-gradient(rgba(0, 0, 0, 0.25) 25%, transparent 55%);
		max-width: 100%;
		text-align: center;
	}

		#blog_header > * {
			-moz-transition: opacity 0.325s ease-in-out;
			-webkit-transition: opacity 0.325s ease-in-out;
			-ms-transition: opacity 0.325s ease-in-out;
			transition: opacity 0.325s ease-in-out;
			position: relative;
			margin-top: 1.5rem;
		}

			#blog_header > *:before {
				content: '';
				display: block;
				position: absolute;
				top: calc(-1.5rem - 1px);
				left: calc(50%);
				width: 1px;
				height: calc(1.5rem + 1px);
				background: #ffffff;
			}

		#blog_header > :first-child {
			margin-top: 0;
		}

			#blog_header > :first-child:before {
				display: none;
			}


		#blog_header h1 {
			font-weight: 600;
			letter-spacing: 0.5rem;
			font-size: 2.25rem;
		}

		#blog_header p {
			text-transform: uppercase;
			letter-spacing: 0.2rem;
			font-size: 0.8rem;
			line-height: 2;
		}

		#blog_header .content {
			/*border-style: dotted;
			border-color: #ffffff;
			border-bottom-width: 1px;*/
			max-width: 100%;
		}

			#blog_header .content .inner {
				-moz-transition: max-height 0.75s ease, padding 0.75s ease, opacity 0.325s ease-in-out;
				-webkit-transition: max-height 0.75s ease, padding 0.75s ease, opacity 0.325s ease-in-out;
				-ms-transition: max-height 0.75s ease, padding 0.75s ease, opacity 0.325s ease-in-out;
				transition: max-height 0.75s ease, padding 0.75s ease, opacity 0.325s ease-in-out;
				-moz-transition-delay: 0.25s;
				-webkit-transition-delay: 0.25s;
				-ms-transition-delay: 0.25s;
				transition-delay: 0.25s;
				padding: 4.5rem 3rem 1rem;
				max-height: 40rem;
				overflow: hidden;
			}


		#blog_header .content .inner > :last-child {
			margin-bottom: 0;
		}

		#nav-study.alt {
			position: fixed;
			z-index: 10000;
		}

		#nav-study.alt nav ul li a{
			font-size: 13px;
		}


		/* Nav */

	#nav-study {
		-moz-transition: background-color 0.2s ease, border-top-left-radius 0.2s ease, border-top-right-radius 0.2s ease, padding 0.2s ease;
		-webkit-transition: background-color 0.2s ease, border-top-left-radius 0.2s ease, border-top-right-radius 0.2s ease, padding 0.2s ease;
		-ms-transition: background-color 0.2s ease, border-top-left-radius 0.2s ease, border-top-right-radius 0.2s ease, padding 0.2s ease;
		transition: background-color 0.2s ease, border-top-left-radius 0.2s ease, border-top-right-radius 0.2s ease, padding 0.2s ease;
    width: 64em;
		cursor: default;
		text-align: center;
		max-width: calc(100%);
	}


		#nav-study ul {
			display: -moz-flex;
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
			margin-bottom: 0;
			list-style: none;
			padding-left: 0;
			border: solid 1px #ffffff;
			border-radius: 4px;
			background-color:#1c1d26;
			display: inline-flex;
		}

			#nav-study ul li {
				padding-left: 0;
			}

				#nav-study ul li a {
					display: block;
					min-width: 9.5rem;
					height: 2.75rem;
					line-height: 2.75rem;
					padding: 0 1.25rem 0 1.45rem;
					text-transform: uppercase;
					letter-spacing: 0.2rem;
					font-size: 0.8rem;
					border-bottom: 0;
				}

					#nav-study ul li a:hover {
						background-color: rgba(255, 255, 255, 0.075);
					}

					#nav-study ul li a.active {
						background-color: rgba(255, 255, 255, 0.175);
					}

		#nav-study.alt {
			position: fixed;
			top: 0;
			padding: 0.5em 1em;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			z-index: 10000;
		}

			#nav-study.alt ul li {
				margin: 0 0.175em;
			}

				#nav-study.alt ul li a {
					font-size: 0.9em;
				}


		@media screen and (max-width: 736px) {

			#nav-study.alt {
				top:44px;
			}

		}

		@media screen and (max-width: 480px) {

			 #nav-study nav ul {
                min-width: 10rem;
                max-width: 100%;
				float:left;
				background-color:#1c1d26;
            }

				#nav-study nav ul li:first-child {
					border-top: 0;
				}

				#nav-study nav ul li a {
					height: 3rem;
					line-height: 3rem;
					min-width: 0;
					width: 100%;
				}
	
		}

/*
#blog_header {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-moz-align-items: center;
		-webkit-align-items: center;
		-ms-align-items: center;
		align-items: center;
		-moz-transition: -moz-transform 0.325s ease-in-out, -moz-filter 0.325s ease-in-out, opacity 0.325s ease-in-out;
		-webkit-transition: -webkit-transform 0.325s ease-in-out, -webkit-filter 0.325s ease-in-out, opacity 0.325s ease-in-out;
		-ms-transition: -ms-transform 0.325s ease-in-out, -ms-filter 0.325s ease-in-out, opacity 0.325s ease-in-out;
		transition: transform 0.325s ease-in-out, filter 0.325s ease-in-out, opacity 0.325s ease-in-out;
		background-image: -moz-radial-gradient(rgba(0, 0, 0, 0.25) 25%, transparent 55%);
		background-image: -webkit-radial-gradient(rgba(0, 0, 0, 0.25) 25%, transparent 55%);
		background-image: -ms-radial-gradient(rgba(0, 0, 0, 0.25) 25%, transparent 55%);
		background-image: radial-gradient(rgba(0, 0, 0, 0.25) 25%, transparent 55%);
		max-width: 100%;
		text-align: center;
	}

		#blog_header > * {
			-moz-transition: opacity 0.325s ease-in-out;
			-webkit-transition: opacity 0.325s ease-in-out;
			-ms-transition: opacity 0.325s ease-in-out;
			transition: opacity 0.325s ease-in-out;
			position: relative;
			margin-top: 1.5rem;
		}

			#blog_header > *:before {
				content: '';
				display: block;
				position: absolute;
				top: calc(-1.5rem - 1px);
				left: calc(50%);
				width: 1px;
				height: calc(1.5rem + 1px);
				background: #ffffff;
			}

		#blog_header > :first-child {
			margin-top: 0;
		}

			#blog_header > :first-child:before {
				display: none;
			}

		#blog_header .content {
			border-style: solid;
			border-color: #ffffff;
			border-bottom-width: 1px;
			max-width: 100%;
		}

			#blog_header .content .inner {
				-moz-transition: max-height 0.75s ease, padding 0.75s ease, opacity 0.325s ease-in-out;
				-webkit-transition: max-height 0.75s ease, padding 0.75s ease, opacity 0.325s ease-in-out;
				-ms-transition: max-height 0.75s ease, padding 0.75s ease, opacity 0.325s ease-in-out;
				transition: max-height 0.75s ease, padding 0.75s ease, opacity 0.325s ease-in-out;
				-moz-transition-delay: 0.25s;
				-webkit-transition-delay: 0.25s;
				-ms-transition-delay: 0.25s;
				transition-delay: 0.25s;
				padding: 4.5rem 3rem 1rem;
				max-height: 40rem;
				overflow: hidden;
			}

				#blog_header .content .inner > :last-child {
					margin-bottom: 0;
				}


            #blog_header .content .inner h1{
                font-weight: 600;
                letter-spacing: 0.5rem;
                font-size: 2.25rem;
            }

			#blog_header .content p {
				text-transform: uppercase;
				letter-spacing: 0.2rem;
				font-size: 0.8rem;
				line-height: 2;
			}

			#nav-study.alt {
				position: fixed;
				z-index: 10000;
			}

			#nav-study.alt nav ul li a{
				font-size: 10px;
			}

		#blog_header nav ul {
			display: -moz-flex;
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
			margin-bottom: 0;
			list-style: none;
			padding-left: 0;
			border: solid 1px #ffffff;
			border-radius: 4px;
			background-color:#1c1d26;
		}

			#blog_header nav ul li {
				padding-left: 0;
				border-left: solid 1px #ffffff;
			}

				#blog_header nav ul li:first-child {
					border-left: 0;
				}

				#blog_header nav ul li a {
					display: block;
					min-width: 7.5rem;
					height: 2.75rem;
					line-height: 2.75rem;
					padding: 0 1.25rem 0 1.45rem;
					text-transform: uppercase;
					letter-spacing: 0.2rem;
					font-size: 0.8rem;
					border-bottom: 0;
				}

					#blog_header nav ul li a:hover {
						background-color: rgba(255, 255, 255, 0.075);
					}

					#blog_header nav ul li a:active {
						background-color: rgba(255, 255, 255, 0.175);
					}

		#blog_header nav.use-middle:after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: calc(50% - 1px);
			width: 1px;
			height: 100%;
			background: #ffffff;
		}

		#blog_header nav.use-middle ul li.is-middle {
			border-left: 0;
		}

		body.is-article-visible #blog_header {
			-moz-transform: scale(0.95);
			-webkit-transform: scale(0.95);
			-ms-transform: scale(0.95);
			transform: scale(0.95);
			-moz-filter: blur(0.1rem);
			-webkit-filter: blur(0.1rem);
			-ms-filter: blur(0.1rem);
			filter: blur(0.1rem);
			opacity: 0;
		}

		body.is-loading #blog_header {
			-moz-filter: blur(0.125rem);
			-webkit-filter: blur(0.125rem);
			-ms-filter: blur(0.125rem);
			filter: blur(0.125rem);
		}

			body.is-loading #blog_header > * {
				opacity: 0;
			}

			body.is-loading #blog_header .content .inner {
				max-height: 0;
				padding-top: 0;
				padding-bottom: 0;
				opacity: 0;
			}

		@media screen and (max-width: 980px) {

			#blog_header .content p br {
				display: none;
			}

		}

		@media screen and (max-width: 736px) {

			#blog_header > * {
				margin-top: 2rem;
			}

				#blog_header > *:before {
					top: calc(-2rem - 1px);
					height: calc(2rem + 1px);
					    left: calc(50%);
				}


			#blog_header .content .inner {
				padding: 2.5rem 2.5rem 0.5rem 2.5rem;
			}

            

			#blog_header .content p {
				line-height: 1.875;
                
			}

		}

		@media screen and (max-width: 480px) {

            #blog_header .content .inner {
                padding: 2.5rem 2.5rem 0.5rem 2.5rem;
            }

            #blog_header nav ul {
                min-width: 10rem;
                max-width: 100%;
				float:left;
				background-color:#1c1d26;
            }

				#blog_header nav ul li:first-child {
					border-top: 0;
				}

				#blog_header nav ul li a {
					height: 3rem;
					line-height: 3rem;
					min-width: 0;
					width: 100%;
				}

			#blog_header nav.use-middle:after {
				display: none;
			}
        }
		*/