@import url("font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,100italic,300italic");

main{
    padding:60px
}

.header-a-logo:after{
    background: #e44c65;
    content: '';
    display: inline-block;
    height: 0.2em;
    max-width: 20em;
    width: 100%;
}
 

.title-div{
    border-radius: 4px;
    border: solid 1px rgba(12, 12, 12, 0.3);
}
input,
select,
textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-transition: border-color 0.2s ease-in-out;
    -webkit-transition: border-color 0.2s ease-in-out;
    -ms-transition: border-color 0.2s ease-in-out;
    transition: border-color 0.2s ease-in-out;
    background: transparent;
    border:none;
    color: inherit;
    display: block;
    outline: 0;
    text-decoration: none;
    width: 96%;
    font-size: 12pt;
    height: 3em;
    font-weight: 100;
    line-height: 1.75em;
    padding: 0 1em;
}

select{
    width:100%;
    border-radius: 4px;
    border: solid 1px rgba(12, 12, 12, 0.3);
}

.select-wrapper {
		text-decoration: none;
		display: block;
		position: relative;
        color: darkgrey;
	}

		.select-wrapper:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.select-wrapper:before {
			color: rgba(208, 14, 14, 0.64);
			content: '\f078';
			display: block;
			height: 3em;
			line-height: 3em;
			pointer-events: none;
			position: absolute;
			right: 0;
			text-align: center;
			top: 0;
			width: 3em;
		}

		.select-wrapper select::-ms-expand {
			display: none;
		}


input:focus,
select:focus,
textarea:focus {
    border-color: #e44c65;
}

select option {
    background-color: #e16868;
    color: #ffffff;
}

select:focus::-ms-value {
    background: transparent;
}

   

.button{
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    background-color: transparent;
    border-radius: 4px;
    border: 0;
    box-shadow: inset 0 0 0 1px rgba(82, 80, 80, 0.3);
    color: black !important;
    cursor: pointer;
    display: inline-block;
    font-weight: 300;
    height: 3em;
    line-height: 3em;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    width:47%;
    margin: 5px;
}

.button.special {
    background-color: #e44c65;
    box-shadow: none;
    color: #ffffff !important;
    float: left;
}


.button.special:hover {
    background-color: #e76278;
}


.button.special:active {
    background-color: #e13652;
}


.previewImg{
    width:300px;
    height:300px;
}

.file_div{
    height: 50px;
}
.file .ex_filename {
    position:absolute;
    display: inline-block; 
    padding: .5em .75em; 
    color: #999;
    font-size: inherit; 
    line-height: normal; vertical-align: middle; 
    background-color: #fdfdfd; 
    cursor: pointer; 
    border: 1px solid #ebebeb;
    border-bottom-color: #e2e2e2; 
    border-radius: .25em;
    width: 80px;
    padding-top: 25px;
} 
.file input[type="file"] {
    position: absolute; 
        width: 60px;
    height: 60px; 
    padding: 0; 
    margin: -1px; 
    overflow: hidden; 
}
/*
.file .buttonFile {
    position:absolute;
    display: inline-block; 
    padding: .5em .75em; 
    color: #999;
    font-size: inherit; 
    line-height: normal; vertical-align: middle; 
    background-color: #fdfdfd; 
    cursor: pointer; 
    border: 1px solid #ebebeb;
    border-bottom-color: #e2e2e2; 
    border-radius: .25em;
} 

.file input[type="file"] {
    position: absolute; 
    width: 60px;
    height: 60px; 
    padding: 0; 
    margin: -1px; 
    overflow: hidden; 
    border: 0; 
}*/

